body { background-image: linear-gradient(#FFFFFF, #FFB95C);
       font-family: Palatino, Verdana, sans-serif; 
}
header { background-color: #FFFFFF; 
         background-image: url(beach4.jpg);
		 background-size: 100% 100%;
		 background-repeat: no-repeat;
         height: 150px; 
		 padding-top: 100px;
         padding-left: 1em; 
		 font-size: 2.5em;
		 font-family: Palatino, Verdana, sans-serif;
		 font-weight: bold;
		 color: #FFFFFF;
		 text-shadow: 7px 7px 7px #666;

}
h1 { padding-top: 50px;
     padding-left: 2em; 
	 color: #FF913C;
	 opacity: 0.8;
}
h2 { background-color: #FFFFFF; 
     color: #FFC87F;
	 margin-left: 2em;
	 margin-right: 2em;
	 border-bottom: 5px solid #DDEFFD;
}
p { color: #000000;
    padding-left: 1.5em;
	padding-right: 1.5em;
	margin: 2em;
}

main { padding-left: 5em;
       padding-right: 5em;
}
img { padding-left: 1em;
      padding-right: 1em;
}
a { text-decoration: none;
}
a:link { color: #777777;
}
a:visited { color: #FF913C;
}
a:hover { color: #FFFFFF;
          background-color: #7BB8E6;
}
footer { background-color: #FFB77F; 
         font-size: .60em;
		 font-style: italic;
		 text-align: center; 
		 padding: 1em;
}
#wrapper { width: 80%;
           margin-right: auto;
		   margin-left: auto;
		   background-color: #FFF0DC;
		   min-width: 1000px;
		   max-width: 1280px;
		   box-shadow: 0px 50px 25px #333; 
}
ul  { list-style-image: url(favicon.ico); 
         padding-left: 2.5em;
	     padding-right: 2.5em;
	     margin: 2em; }
		 
@media only screen and (max-width: 1024px) {
	        body { margin: 0; 
			       background-image: none; }
			#wrapper { width: auto; 
			           min-width: 0;
					   margin: 0;
					   padding: 0;
			           box-shadow: none; }
			header { border-bottom: 5px solid #FEF6C2; }
			h1 { margin-top: 0;
			     margin-bottom: 1em;
			     padding-top: 1em;
				 padding-bottom: 1em;
			     font-size: 2.5em; }
			main { margin: 0;
			       font-size: 90%; }
            }

@media only screen and (max-width: 768px) {
	        header { background-image: url(beach4.jpg);
			         height: 128px; 
					 padding: 0; }
			h1 { font-size: 2em;
			     text-align: center; 
				 padding-left: 0; }
		    main { padding-top: 1px; }
			h2 { padding: 0.5em 0 0 0.5em; 
			     margin-right: 0.5em; }
			}

